body {
    background-image: url('../assets/RedisLabs_Illustration.svg');
    background-color:#F8F8FB;
    background-repeat: no-repeat;
    background-size: 50vw;
    background-position: 55vw -9vw;

    @media (max-width: 960px) {
        background-size: 80vw;
        background-position: 26vw -14vw;
    }
}

#app {
    background: none;
}

.text {
    word-break: normal;
}

input {
    text-align: center;
    margin: 0 !important;
}

.v-input__slot {
    margin: 0 !important;
}

.v-input__slot::before {
    border-style: none !important;
    content: none;
}

.v-input__slot::before:active {
    border-style: none !important;
    content: none;
}

.h-full {
    height:100%;
}
