html {
    font-size: 18px;

    @media screen and (min-width: 960px) {
        font-size: 22px;
    }
}

#title {
    font-size: 240%;

    @media screen and (min-width: 960px) {
        font-size: 260%;
    }

    @media screen and (min-width: 1800px) {
        font-size: 320%;
    }
}

#app {
    background-image: url('../assets/RedisLabs_Illustration.svg');
    background-repeat: no-repeat;
    background-size: 22% auto;
    background-position: 104% -70px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    background-color: #eef3f4;
}

#main-container {
    max-width: 1600px;
    margin: 0 auto;
}

#shopping-cart {
    background-color: #ffffff;
    margin-bottom: 1.5em;
    border-radius: 20px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.increment-button {
    width: 30px !important;
    height: 30px !important;
    min-width: 0 !important;
}

.quantity-input {
    & * {
        display: block !important;
        margin: 0 !important;
        padding: 0 !important;
        height: 50px !important;
    }

    input {
        background-color: #fff;
        text-align: center;
        pointer-events: auto !important;
        width: 100px;
    }

    fieldset {
        display: none !important;
    }
}

.full-width {
    width: 100% !important;
    flex-basis: 100%;
}

.product-img {
    position: relative;

    .v-badge {
        display: block !important;
    }
}

.product {
    background-color: white;
    border-color: #eef3f4;
    border-width: 22px;
    border-style: none solid solid none;
}
